.projects {
  background-color: #0f172b; 
}

.projectCards-grid {
		display: grid;
		gap: 3rem;
		width: 100%;
	}

@media (min-width: 768px) { 
	.projectCards-grid {
		grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
	}
}

@media (min-width: 1024px) and (orientation:landscape) {
	.projectCards-grid {
		grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
	}
}
