.projects {
  background-color: #0f172b;   
}

.projectCards-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
}

@media (min-width: 768px) { 
	.projectCards-wrapper {
		justify-content: space-between;
	}
}

@media (min-width: 1024px) {
	.projectCards-wrapper {
		justify-content:left;
		gap: 3rem;
	}
}
