.card {
  position: relative;
  display: flex;
  flex-direction: column; 
  height: 520px; 
  background-color: #162346;
  border: 1px solid #1a62a1;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  max-width: 600px;
  font-size: clamp(1.5rem, 2vw, 1.4rem);
  transition: transform 0.2s;
}

/* Effet zoom sur la card */
.card:hover {
  transform: scale(1.04);
}

.card-image-container {
  height: 50%; 
  display: flex;
  flex-direction: column; /* pour mobile banner + image */
  transition: transform 0.2s;
}

/* Assombrir uniquement l'image */
.card:hover .card-image-container {
  filter: brightness(0.7);
  transition: filter 0.2s;
}

.card-mobile-banner {
  display: none; /* caché sur desktop */
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; 
}

/* --- Mobile --- */
@media screen and (max-width: 767px) {
  .card {
    margin: 5rem auto;
  }

  .card-image-container {
    flex-direction: column;
  }

  .card-mobile-banner {
    display: block;
    width: 100%;
    height: 20%; 
    object-fit: cover;
  }

  .card-image {
    height: 80%; 
  }
}

.card-content {
  height: 50%; 
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  /* gap: 1rem; */
}

.card-text {
  /* line-height: 1.7; */
  color: #e0e0e0;
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 2vw, 1.4rem);

  display: -webkit-box;       /* boîte flexible */
  -webkit-line-clamp: 4;      /* limite à 4 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;           /* cache le texte qui dépasse */
  text-overflow: ellipsis;    /* ajoute "..." à la fin */
}

.card-skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.card-skills-tags {
	background-color: #213f7a;
	color: #50a2ff;
	border: none;
	border-radius: 2rem;
	padding: 0.4rem 1rem;
  display: flex;
	align-items: center;
	justify-content: center;
}	

.card-buttons-container {
  position: absolute;
  display: flex;
  gap: 1rem;
  bottom: 1rem;
}

.card-btn {
  padding: 0.4rem 1rem;
}
