/* --- Card --- */
.card {
  display: flex;
  flex-direction: column;
  /* min-height: 50vh; */
  background: #162346;
  border: 1px solid #1a62a1;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Effet zoom sur la card */
.card:hover {
  transform: scale(1.04);
}

/* Partie image */
.card-image-container {
  /* height: 50%; */
  height: 25vh;
  transition: transform 0.2s;
}

/* Assombrir uniquement l'image */
.card:hover .card-image-container {
  filter: brightness(0.7);
  transition: filter 0.2s;
}

.card-mobile-banner {
  display: none; /* caché sur desktop */
}

/* --- Image --- */
.card-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* --- Contenu --- */
.card-content {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.3rem, 1.2vw, 1.5rem);
  padding: 1rem;
  flex: 1; /* <== occupe toute la hauteur restante de la card */
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.card-content * {
  font-size: inherit; /* Force tous les enfants à hériter */
}

.card-title {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
}

.card-text {
  margin-bottom: 0.5rem;
  /* Empêche trop de texte */
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.card-skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.card-skills-tags {
  background-color: #213f7a;
  color: #50a2ff;
  border: none;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-buttons-container {
  display: flex;
  gap: 1rem;
  margin-top: auto; /* pousse les boutons vers le bas */
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card-btn {
  padding: 0.3rem 1rem;
}

.inactive-link {
  background-color: #243b6b !important;
  color: #888 !important;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;
  text-decoration: none;
}

/* --- Mobile --- */
@media screen and (max-width: 734px) {
  .card {
  margin: 1rem auto;
  }
}

/* --- Mode portrait --- */
/* @media screen and (orientation: portrait) {
  .card-image-container {
    display: flex;
    flex-direction: column;
  }

  .card-mobile-banner {
    display: block;
    width: 100%;
    height: 20%;
    object-fit: cover;
  }

  .card-image {
    height: 80%;
  }
} */

/* --- landscape --- */
@media screen and (min-width: 1024px) and (orientation:landscape) {
  .card-image-container {
    height: 30vh;
  }
}