/* ===== Mobile First ===== */
.skillsCard-container {
	/* width: 100%; */
	/* min-width: 140px;
	max-width: 100%; */
	display: flex;
	flex-direction: column;
	background: #1e3057;
	border-radius: 1rem;
	border: 1px solid #278ee9;
	box-shadow: 0 2px 16px rgba(0,0,0,0.12);
	padding: 1.5rem;
	box-sizing: border-box;
	margin-bottom: 1rem; 
}

.skillsCard-container:hover {
	transform: scale(1.04);
}

/* Tablette */
/* @media (min-width: 768px) {
	.skillsCard-container {
		width: 48%;
	}
} */

/* Desktop */
/* @media (min-width: 1024px) {
	.skillsCard-container {
		width: 23%;
	}
} */

.skillsCard-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1rem;
	margin-bottom: 1rem;
}

.skillsCard-icon-bg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;       
  border-radius: 20%;    
}

.skillsCard-icon {
  font-size: clamp(1.5rem, 4vw, 3rem); 
  flex-shrink: 0; /* évite que l'icône se compresse */
}


.skillsCard-title {
	margin: 0;
}

.skillsCard-skills-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
  padding: 0;
	margin-bottom: 0.5rem;
}

.skillsCard-skills-button {
	border: none;
	border-radius: 2rem;
	padding: 0.7rem 1rem;
	min-width: 6rem;
	font-size: 1.4rem;
	font-weight: 500;
  margin-bottom: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}