.projectCard-container {
	/* background: #1e3057; */
	background-color: #162346;
	border-radius: 1rem;
	box-shadow: 0 2px 16px rgba(0,0,0,0.12);
	display: flex;
	flex-direction: column;
	border: 1px solid #19578e;
	box-sizing: border-box;
	transition: transform 0.2s;
}

.projectCard-container:hover {
	transform: scale(1.04);
}

.projectCard-image-container {

}

/* Image en moitié supérieure */
.projectCard-image {
	background-size: 100% auto; 
  background-position: top center; 
  background-repeat: no-repeat;
	margin-bottom: 1rem;
	transition: filter 0.2s;
}

.projectCard-container:hover .projectCard-image {
	filter: brightness(0.7);
}

.projectCard-content {
	padding: 1rem;
}

/* Titre */
.projectCard-title {
	margin: 0 0 0.5rem 0;
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
}

/* Description */
.projectCard-description {
	margin: 0 0 1rem 0;
	font-size: 1rem;
	color: #ddd;
	line-height: 1.4;
}

/* Boutons Voir / Code */
.projectCard-buttons {
	display: flex;
  flex-wrap: wrap;
	gap: 1rem;
  padding: 0;
	flex-wrap: wrap;
}

.btn-projectCard {
  padding: 0.7rem 1rem;
  width: 10em;
  height: 3em
}

.projectCard-btn {
	border: none;
	border-radius: 2rem;
	padding: 0.7rem 1.2rem;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s;
}

/* Smartphone */
@media (max-width: 480px) {
	.projectCard-container {
		height: 50vh;
		width: 100%;
	}
	.projectCard-mobile-banner {
		height: 10%; 
		width: 100%;
	}
	.projectCard-image {
		height: 40%; 
		width: 100%;
	}
}

/* Tablette */
@media (min-width: 768px) {
	.projectCard-container {
		height: 80vh;
		width: 32%;
	}
	.projectCard-image {
		height: 50%; 
		width: 100%;
	}
}

/* Desktop */
@media (min-width: 1024px) {
	.projectCard-container {
		height: 80vh;
		width: 32%;
	}
	.projectCard-image {
		height: 50%; 
		width: 100%;
	}
}

