.contact {
  background-color: #0f172b;   
}
.contact-container {
  display: flex;
}

.contact-text p {
  margin-bottom: 2rem;
}
/* Chaque colonne prend la moitié */
.contact-text,
.contact-form {
  flex: 1;
}

/* ----- Formulaire style Bootstrap ----- */
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ced4da;
  font-size: 2rem;
  outline: none;
  transition: border-color 0.2s;
}

.form-control:focus {
  border-color: #caa863;
  box-shadow: 0 0 0 0.2rem rgba(202, 168, 99, 0.25);
}

.contact-success {
  font-size: 2rem;
  margin-left: 15rem;
  color: #caa863;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .contact-text {
    padding-left: 0rem;
  }

  .contact-text,
  .contact-form {
    width: 100%;
  }
}
