.skill-card {
	width: 260px;
	min-height: 320px;
	background: #1e3057;
	border-radius: 1rem;
	box-shadow: 0 2px 16px rgba(0,0,0,0.12);
	display: flex;
	flex-direction: column;
	/* align-items: stretch; */
	padding: 1.5rem;
	margin: 0.5rem;
}

.skill-card-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 1rem;
}

.skill-title {
	text-align: left;
	margin-left: 0.5rem;
}

.skill-card-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	width: 100%;
	/* justify-content: center; */
}

.skill-btn {
	background: #caa863;
	color: #152550;
	border: none;
	border-radius: 2rem;
	padding: 1rem 1rem;
  min-width: 8rem;
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 4px;
	cursor: pointer;
	transition: background 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.skill-btn:hover {
	background: #b3975a;
}
