.socials-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social {
  width: 3rem;
  margin-right: 1rem
}

.social:hover {
  transform: translateY(-3px)
}

.social-icon-link:hover {
  background: rgba(120,67,233,.2)
}

.social-icon-link--bd-none {
  border-bottom: 0
}

.social-icon {
  width: 100%
}

.social-icon:hover {
  color: #caa863;
}