*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth
}

@media only screen and (max-width: 75em) {
  html {
      font-size:59%
  }
}

@media only screen and (max-width: 56.25em) {
  html {
      font-size:56%
  }
}

@media only screen and (min-width: 112.5em) {
  html {
      font-size:65%
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Source Sans Pro',sans-serif;
  color: #fff;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 800
}

h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
  margin-top: 10rem;
  margin-bottom: 3rem
}

h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem
}

p {
  font-size: 2rem;
  line-height: 1.5;             
}

a {
  text-decoration: none;
  color: inherit
}

li {
  list-style: none
}

a:focus,button:focus,input:focus,textarea:focus {
  outline: 0
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 100px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  transition: transform .3s;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  width: 12em;
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: translateY(-3px)
}

.btn-primary {
  background-color: #caa863;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #b69050;
}

.btn-secondary {
  background-color: unset;
  border: 2px solid #caa863;
  color: #caa863;
}

.btn-secondary:hover {
  background-color: #caa863;
  color: #ffffff;
}

.text-secondary-color {
  color: #caa863
}

/* --------Classe utilisée dans le fichier index.js------------- */
.d-none {
  display: none
} 