.scroll-arrow {
  /* display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 1rem;  */

  position: absolute;
  left: 50%;
  bottom: 5rem; 
  transform: translateX(-50%);
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .scroll-arrow {
    bottom: 1.5rem; 
  }
}

.arrow-icon {
  font-size: 4rem; 
  color: #caa863; 
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(4px);
  }
}

/* ------------------------Mouse scroll----------------------- */
.home-hero__mouse-scroll-cont {
  display: flex;
  justify-content: center;
  /* position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%) */
}

@media screen and (max-width: 767px) {
  .home-hero__mouse-scroll-cont {
    margin-top: 5rem;
  }
}

.mouse {
  position: relative;
  width: 4rem;
  height: 6rem;
  /* border: 2px solid #333; */
  border: 2px solid #caa863;
  border-radius: 60px;
  overflow: hidden
}

.mouse::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #333; */
  background-color: #caa863;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite
}

@keyframes wheel {
  to {
      opacity: 0;
      top: 27px
  }
}

@-webkit-keyframes wheel {
  to {
      opacity: 0;
      top: 27px
  }
}
